
body.page-template-big-hero .uw-hero-image {
  height: 450px;
}

.uw-thinstrip .uw-wordmark {
  display: block;
  position: absolute;
  top: 12px;
  left: 150px;
  text-indent: -9999px;
  width: 330px;
  height: 24px;
  background: url(assets/svg/uw-sprite.svg) no-repeat 0 -431px transparent;
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {


  .uw-thinstrip .uw-wordmark {
    width: 155px;
    height: 34px;
    background: url(assets/svg/uw-sprite.svg) no-repeat 0 -185px transparent;
    margin: 0;
    float: none;
    position: absolute;
    left: 78px;
    top: 4px;
    background-size: 397px;
  }

}


@media only screen and (min-width: 992px) and (max-width: 1200px) {

  .uw-thinstrip .uw-wordmark {
    left: 100px;
    -o-transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
}

.uw-hero-image,
.no-uw-hero-image {
  height: 170px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}
.uw-hero-image:after,
.no-uw-hero-image:after {
  position: absolute;
  bottom: 0;
  height: 80px;
  width: 100%;
  content: "";
  background: url('assets/images/stripes-dark-tile.svg');
  opacity: .2;
}
.uw-hero-image:before,
.no-uw-hero-image:before {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 80px;
  width: 100%;
  content: "";
  opacity: .4;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8))) 0 0 no-repeat;
}
.uw-hero-image.hero-height,
.no-uw-hero-image.hero-height {
  height: 350px;
}
.uw-hero-image.hero-height #hero-container,
.no-uw-hero-image.hero-height #hero-container {
  padding-left: 0;
  position: static;
}
.uw-hero-image.hero-height #hero-container h1,
.no-uw-hero-image.hero-height #hero-container h1 {
  line-height: 1;
  padding: 80px 20% 0 0;
  margin: 0;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.uw-hero-image.hero-height #hero-container h1:after,
.no-uw-hero-image.hero-height #hero-container h1:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  height: 360px;
  left: -140px;
  opacity: .3;
  width: 600px;
  background: url(assets/svg/slashes-light.svg) no-repeat 0 0;
  z-index: 0;
}
.uw-hero-image.hero-height:after,
.no-uw-hero-image.hero-height:after {
  display: none;
}
.uw-hero-image.hero-height #hero-bg,
.no-uw-hero-image.hero-height #hero-bg {
  padding: 0;
}
.uw-hero-image.hero-height .udub-slant span,
.no-uw-hero-image.hero-height .udub-slant span {
  background-color: #E8E3D3;
}
.no-uw-hero-image {
  background: none;
  background-color: #e8e3d3;
  height: 130px;
}
.no-uw-hero-image:after {
  opacity: .2;
}
.no-uw-hero-image:before {
  display: none;
}
.udub-slant {
  overflow: hidden;
  display: block;
  margin: 30px 0 25px 0;
}
.udub-slant span {
  -webkit-transform: skewX(-25deg) skewY(0);
  -o-transform: skewX(-25deg) skewY(0);
  transform: skewX(-25deg) skewY(0);
  -webkit-transform: skew(-25deg, 0);
  -ms-transform: skewX(-25deg) skewY(0);
  transform: skew(-25deg, 0);
  display: block;
  height: 11px;
  width: 210px;
  background-color: white;
  margin: 0 0 0 -5px;
}
.page-template-templatestemplate-no-hero-php .uw-body .uw-site-title {
  color: #5a5a5a;
}
.page-template-templatestemplate-no-title-php .uw-body .uw-site-title {
  display: none;
}
.page-template-templatestemplate-no-title-php .uw-body.container {
  margin-top: 30px;
}
.page-template-templatestemplate-no-title-php ul.uw-sidebar-menu {
  margin-top: -20px;
}

#hero-bg {
  position: relative;
  padding: 90px 0;
}
#hero-bg div.orig,
#hero-bg div.blrd {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
#hero-container {
  margin: 0 auto;
  overflow: hidden;
  padding-left: 50px;
  text-align: left;
  position: relative;
  z-index: 1;
}
#hero-container h1 {
  font-family: "Encode Sans Compressed", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 75px;
  color: #fff;
}
#hero-container p {
  color: #fff;
  font-weight: 600;
  font-size: 1.1em;
  line-height: 23px;
  margin: 0 0 30px;
  width: 70%;
}
.uw-site-title-blank {
  font-size: 50px;
  padding-top: 20px;
  color: #4b2e83;
}
.no-title h1.uw-site-title-blank {
  display: none;
}
.hero-content {
  margin-top: 20px;
}
.hero-height2 {
  height: 245px;
}
.hero-height2 .container {
  height: 145px;
  line-height: 145px;
}
.hero-height2 h1 {
  font-family: "Encode Sans Compressed", sans-serif;
  text-transform: uppercase;
  color: #FFF !important;
  font-weight: 900;
  font-size: 60px;
  margin: 0;
  line-height: 1;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  display: inline-block;
  vertical-align: bottom;
}
.hero-height2 h1:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  height: 360px;
  left: -140px;
  opacity: .3;
  width: 600px;
  background: url(assets/svg/slashes-light.svg) no-repeat 0 0;
  z-index: 0;
}
.hero-height2:after {
  display: none;
}
.hero-height2 .udub-slant {
  margin-top: 22px;
}
.hero-height2 .udub-slant span {
  background-color: #e8e3d3;
}
.hero-blank {
  height: auto;
  background-color: transparent;
}
.hero-blank:before,
.hero-blank:after {
  display: none;
}
.wpcf7 span:before,
.alum-renew span:before,
#mc-embedded-subscribe-form span:before {
  display: none;
}
.mc-field-group {
  margin-top: 20px;
}
body {
  font-size: 16px;
}
p {
  font-size: 16px;
  line-height: 1.63;
  margin-bottom: 28px;
}
a.uw-btn {
  z-index: 0;
}
body.home .uw-sidebar-menu {
  display: block;
}
#accordion h3 {
  font-size: 19px;
}
.uw-accordion h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.uw-accordion div {
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}
.uw-accordion {
  margin-bottom: 20px;
}
table th,
table th p,
table td,
table td p {
  font-size: 15px;
}
.wp-caption-text {
  font-size: 13px;
  line-height: 20.30769231px;
  margin-top: 10px;
}
h1,
.h1 {
  font-size: 32px;
}
h2,
.h2 {
  font-size: 27px;
}
h3,
.h3 {
  font-size: 23px;
}
h4,
.h4 {
  font-size: 19px;
}
h5,
.h5 {
  font-size: 18px;
}
h6,
.h6 {
  font-size: 17px;
}
hr {
  border-top: 1px solid #b7a57a;
  clear: both;
}
.info-box h1,
.info-box h2 {
  font-size: 23px;
}
.info-box h3,
.info-box h4 {
  font-size: 18px;
  font-family: "Encode Sans Compressed", sans-serif;
  font-weight: 800;
  line-height: 1.2;
  color: inherit;
}
.info-box p,
.info-box li,
.info-box a {
  font-size: 15px;
  line-height: 1.5;
}

@media only screen and (min-width: 768px) {
  .uw-body .uw-site-title {
    position: absolute;
    top: -150px;
    left: 11px;
    color: #fff;
    font-family: "Encode Sans Compressed", sans-serif;
    font-size: 50px;
    line-height: 55px;
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
  }
  .info-box {
    width: 300px;
    float: right;
    margin-right: -10px;
    margin-left: 20px;
    margin-top: 10px;
    padding: 25px ;
  }
  .uw-thinstrip ul.uw-thin-links {
    min-width: 240px;
  }
  .udub-slant span {
    -webkit-transform: skew(-25deg, 0);
    -ms-transform: skewX(-25deg) skewY(0);
    transform: skew(-25deg, 0);
    display: block;
    height: 8px;
    width: 290px;
    background-color: #b7a57a;
  }
  .udub-slant {
    overflow: hidden;
    display: block;
    margin: 5px 0 5px 20px;
  }
  h2.uw-site-title {
    font-size: 1px;
    line-height: 1px;
    margin: 0;
  }
  .title-container {
    top: -90px;
    background: none;
    position: absolute;
  }
  .title-container .udub-slant {
    margin-left: 0px;
  }
  .uw-body .uw-site-tagline {
    background: none;
    margin-left: 0;
    color: #fff;
    font-family: "Encode Sans Compressed", sans-serif;
    font-size: 22px;
    line-height: 35px;
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
  }
}
@media screen and (max-width: 767px) {
  .info-box {
    width: 100%;
    float: none;
    margin-left: 0;
    margin: right:0;
    padding: 25px;
  }
  .udub-slant {
    display: none;
  }
  .udub-slant span {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .home .uw-body {
    background: #fff;
  }
  .uw-thinstrip .uw-wordmark {
    width: 155px;
    height: 34px;
    background: url(assets/svg/uw-sprite.svg) no-repeat 0 -230px transparent;
    margin: 0;
    float: none;
    position: absolute;
    left: 78px;
    top: 4px;
    background-size: 497px;
  }
  .uw-footer .footer-wordmark {
    background-size: 620px;
  }
  #mobile-relative.frontpage {
    margin-right: 20px;
  }
  .uw-body .uw-site-title {
    color: #4b2e83;
    font-size: 25px;
    line-height: 1.2;
    font-weight: 900;
    margin: -10px -18px 20px -20px;
    padding: 15px 20px 15px 20px;
    position: static;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }
}
@media screen and (min-width: 768px) {
  .uw-thinstrip .uw-wordmark {
    background: url(assets/svg/uw-sprite.svg) no-repeat 0 -412px transparent;
    height: 44px;
  }
}
.home .uw-body {
  margin-bottom: 0;
}
.uw-footer .footer-wordmark {
  background: url(assets/svg/uw-sprite.svg) no-repeat 0 -412px transparent;
  height: 44px;
  width: 260px;
}
.uw-footer .footer-wordmark:focus,
.uw-footer .footer-wordmark:hover {
  background: url(assets/svg/uw-sprite-focus.svg) no-repeat 0 -411px transparent;
}
.home #uw-container div#uw-container-inner {
  background-color: #f0ede3;
}
/***** Metaslider Plugin ***/
@media screen and (min-width: 992px) {
  .metaslider .caption-wrap {
    opacity: 0.7;
  }
  .metaslider .caption h2 {
    font-size: 20px;
    margin: 5px 0;
    border-bottom: 1px solid #b7a57a;
  }
}
@media screen and (max-width: 991px) and (min-width: 600px) {
  .metaslider .caption h2 {
    margin: 5px 0;
    border-bottom: 1px solid #b7a57a;
  }
  .metaslider .caption p {
    font-size: 14px;
  }
  .metaslider .caption-wrap {
    opacity: 0.7;
  }
}
@media screen and (min-width: 992px) {
  .metaslider .caption p {
    font-size: 20px;
  }
  .metaslider .caption-wrap {
    opacity: 0.7;
  }
  .metaslider .caption h2 {
    margin: 5px 0;
    border-bottom: 1px solid #b7a57a;
    font-size: 24px;
  }
}
@media screen and (max-width: 599px) {
  .metaslider .caption p {
    display: none;
  }
  .metaslider .caption h2 {
    font-size: 16px;
    margin-top: 0px;
    padding-top: 0;
    border-botton: none;
  }
  .metaslider .caption-wrap {
    top: 63%;
    opacity: 0.2;
  }
  .uw-accordion h3 {
    font-size: 18px;
  }
}
.rslides_nav {
  background-color: #fff;
  color: #FFFFFF;
  padding: 10px;
  position: absolute;
  top: 70%;
  z-index: 9;
  cursor: pointer;
  font-weight: bold;
  margin-top: -15px;
  opacity: 0.7;
}
.metaslider {
  margin-top: -40px;
}
.metaslider .caption-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  background: black;
  color: white;
  margin: 0;
  display: block;
  width: 100%;
  padding: 0 20px 0 20px;
  line-height: 1.1em;
}
.metaslider .caption {
  padding: 0;
}
.metaslider .caption h2 {
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Encode Sans Compressed", sans-serif;
  opacity: 1;
  width: 90%;
}
.metaslider .caption p {
  font-weight: 400;
  color: #ffffff;
  -webkit-font-smoothing: auto;
  font-family: "Encode Sans Compressed", sans-serif;
  opacity: 1;
}
.metaslider .caption p a {
  color: #fff;
}
.metaslider .caption a:after {
  content: " READ MORE \00BB";
  text-transform: uppercase;
  font-weight: bold;
  color: #b7a57a;
}
.metaslider .caption,
.metaslider .cs-title,
.metaslider .nivo-caption {
  background: transparent;
  list-style: none;
  line-height: 1.2em;
  opacity: 1;
}
.rslides_nav .rslides_tabs,
.rslides_tabs a,
.rslides_tabs .rslides_here a {
  background: transparent;
  background-color: transparent;
}

.wp-caption-text {
  padding: 5px 0 0 5px;
 }

.white-img-border {
	 padding:3%;
	 border:#cccccc 1px solid;
 }


.pic-text-widget {
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
 input[type="text"].wTextInput { width:190px;}


.uw-rss-widget a.rss-more { margin-left:0px; margin-top:10px; padding-right:0;}
.pic-text-more { margin-left:5px; margin-top:5px;}
